integration/routes/handle-rfq/src/main/resources/rfq.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Category">
  	<xs:restriction base="xs:string">
  		<xs:enumeration value="FICTION"/>
  		<xs:enumeration value="DRAMA"/>
  	</xs:restriction>
  </xs:simpleType>
  <xs:element name="rfq">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="id"/>
        <xs:element name="books">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="isbn"/>
                    <xs:element type="xs:byte" name="quantity"/>
                  </xs:sequence>
                  <xs:attribute type="Category" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>